<%- include('partials/header') -%> 
    <div class="center_section">
        <h1><%= page_h1 %></h1>
        <p><%= starting_content %></p>
        <div class="blog_posts">
            <% blog_posts.forEach(function(blog_post) { %>
                <h2><%= blog_post.title %></h2>
                <p><%= blog_post.abstract %> ...<a href="/posts/<%= blog_post.title %>">Read more</a></p>
            <% }); %>
        </div>
        <a class="local_button btn btn-primary" href="/compose">Add a Post</a>
    </div>
<%- include('partials/footer') -%> 